<footer class="footer">
  <div class="footer_container container">
    <div class="footer_inner">
      <p class="footer_copyright">© 2025 BlogYo LLC. All rights reserved.</p>
      <div class="footer_list">
        <a class="footer_list_item" href="./privacy-policy.html">
          Privacy Policy
        </a>
        <span>|</span>
        <a class="footer_list_item" href="./terms-and-conditions.html">
          Terms & Conditions
        </a>
        <span>|</span>
        <a class="footer_list_item" href="./cookies-policy.html"> Cookies </a>
      </div>
      <div class="footer_social">
        <p class="footer_social_item">Instagram: @blogyogames</p>
        <p class="footer_social_item">GitHub: blogyogames</p>
      </div>
    </div>
  </div>
</footer>
