<header class="header">
  <div class="header_container container">
    <nav class="header-nav-pc">
      <ul class="header-nav-pc-list">
        <li class="header-nav-pc-item">
          <a href="#hero">Hero Section</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#about">About BlogYo</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#reviews">Latest Reviews</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#news">Industry News & Analysis</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#comparisons">In-Depth Comparisons</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#features">Developer Interviews</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#faq">FAQ</a>
        </li>
        <li class="header-nav-pc-item">
          <a href="#contacts">Contact Us</a>
        </li>
      </ul>
    </nav>
    <nav class="header-nav-mobile">
      <div class="header-nav-mobile_container container">
        <button type="button" class="header-nav-mobile-button-close">
          <img src="./img/header/close-menu.png" alt="menu" />
        </button>
        <ul class="header-nav-mobile-list">
          <li class="header-nav-mobile-item">
            <a href="#hero">Hero Section</a>
          </li>
          <li class="header-nav-mobile-item">
            <a href="#hero">Hero Section</a>
          </li>
          <li class="header-nav-mobile-item">
            <a href="#about">About BlogYo</a>
          </li>
          <li class="header-nav-mobile-item">
            <a href="#reviews">Latest Reviews</a>
          </li>
          <li class="header-nav-mobile-item">
            <a href="#news">Industry News & Analysis</a>
          </li>
          <li class="header-nav-mobile-item">
            <a href="#comparisons">In-Depth Comparisons</a>
          </li>
          <li class="header-nav-mobile-item">
            <a href="#features">Developer Interviews</a>
          </li>
          <li class="header-nav-mobile-item">
            <a href="#faq">FAQ</a>
          </li>
          <li class="header-nav-mobile-item">
            <a href="#contacts">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>
    <button type="button" class="header-nav-mobile-button">
      <img src="./img/header/burger-menu.png" alt="menu" />
    </button>
  </div>
</header>
