.cookies_section {
  display: none;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 999;
  width: 100%;
  padding: 58px 0;
  background: var(--secondary-2);
}

.cookies_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 1440px) {
    flex-direction: row !important;
    justify-content: space-between;
  }
}

.cookies_text {
  width: 100%;
  max-width: 882px;

  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  color: var(--accent);
}

.cookies_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  @media screen and (min-width: 1440px) {
    align-items: end;
    width: auto;
  }
}

.cookies_button {
  width: 100%;
  padding: 20px 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background 300ms ease;
  border: none;
  @media screen and (min-width: 1440px) {
    width: 240px;
  }
}

.cookies_button:hover {
  background: #b0937d;
}

.cookies_accept_js {
  border: 1px solid red;
}

.cookies_decline_js {
  background: red;
}
