.footer {
  padding: 40px 0;
  background: var(--secondary);
  @media screen and (min-width: 1440px) {
    padding: 46px 0;
  }
}
.footer_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  @media screen and (min-width: 1440px) {
    flex-direction: row;
    gap: none;
    justify-content: space-between;
  }
}
.footer_copyright {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.footer_list * {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
.footer_list_item:hover {
  text-decoration: underline;
}
.footer_social_item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #000;
}
