.page_section * {
  line-height: 1.4;
}
.page_container {
  display: block !important;
}
.mb80 {
  margin-bottom: 80px;
}
.mb30 {
  margin-bottom: 30px;
}
.page_link {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-top: 30px;
  @media screen and (min-width: 1440px) {
    margin-top: 75px;
  }
}
.page_link_img {
  width: 32px;
}
.page_link_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #d0e1ff;
}
.page_text {
  display: block;
  width: 100%;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--accent);
}
.page_title {
  font-family: var(--third-family);
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: var(--accent);
}
.page_second {
  display: block;
  width: 100%;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  text-align: left;
  color: var(--accent);
}
.center {
  text-align: center;
}
.page_item {
  list-style: disc;
  margin-left: 25px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--accent);
}
.page_list_link {
  text-decoration: underline;
  word-break: break-all;
}
