.reviews {
  scroll-margin-top: 100px;
}
.reviews_title {
  text-align: left !important;
}
.reviews_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  @media screen and (min-width: 1440px) {
    flex-direction: row;
    gap: 85px;
  }
}
.reviews_inner_item {
  width: 100%;
  padding: 0 13px 31px 13px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: var(--secondary-2);
  border-radius: 10px;
  @media screen and (min-width: 1440px) {
    padding: 0 25px 30px 25px;
  }
}
.reviews_inner_item_mark {
  display: flex;
  align-items: center;
  padding-left: 30px;
  max-width: 256px;
  width: 100%;
  height: 58px;
  position: relative;
  transform: translateX(-13px);
  @media screen and (min-width: 1440px) {
    transform: translateX(-25px);
    justify-content: center;
    padding: 10px 50px 10px 30px;
  }
}
.reviews_inner_item_mark_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--accent);
  position: relative;
  z-index: 5;
}
.reviews_inner_item_mark_bg {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  filter: drop-shadow(0 0 30px var(--secondary));
}
.reviews_inner_item_text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--accent);
}
